@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

@layer components {
  .headerLink {
    @apply cursor-pointer opacity-75 transition hover:opacity-100;
  }

  .heroButton {
    @apply cursor-pointer rounded-full border border-transparent px-3 py-2 text-xs uppercase tracking-widest text-gray-500 transition-all md:px-6 hover:border-[#f7ab0a]/40 hover:text-[#f7ab0a]/40;
  }
}
